# for common Snowflake profile
SNOWFLAKE_TRANSFORM_USER=your_username_here
SNOWFLAKE_TRANSFORM_PASSWORD=your_password_here
SNOWFLAKE_TRANSFORM_ROLE=your_snowflake_role_here
SNOWFLAKE_TRANSFORM_WAREHOUSE=your_warehouse_name_here
SNOWFLAKE_TRANSFORM_DATABASE=your_database_name_here


# LOADER Role
SNOWFLAKE_LOAD_USER=your_loader_user
SNOWFLAKE_LOAD_PASSWORD=your_loader_password
SNOWFLAKE_LOAD_DATABASE=your_loader_db
SNOWFLAKE_LOAD_WAREHOUSE=your_loader_warehouse
SNOWFLAKE_LOAD_ROLE=your_loader_role

# TRANSFORMER Role
SNOWFLAKE_USER=your_transform_user
SNOWFLAKE_PASSWORD=your_transform_password
SNOWFLAKE_TRANSFORM_DATABASE=your_transform_db
SNOWFLAKE_TRANSFORM_WAREHOUSE=your_transform_warehouse
SNOWFLAKE_TRANSFORM_ROLE=your_transform_role


# for S3
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1